<%= form_for(@school_class) do |f| %>
  <label>student class title:</label><br>
  <%= text_field :title %><br>

  <label>room number:</label><br>
  <%= text_field :room_number %><br>

  <%= submit "Submit class" %>
  
<% end %>
